{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NESL Operating Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Personal information</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Collecting personal information</h1>

      <p class="govuk-body">Forms are being developed to support call handlers to record the right information consistently and clearly.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/personal-information/what-to-collect">What information to collect</a>
        </li>
        <li>
          <a href="/personal-information/explaining-use">Explaining how information will be used</a>
        </li>
        <li>
          <a href="#">Form templates and links</a>
        </li>
        <li>
          <a href="#">Recording consent</a>
        </li>
      </ul>

      {% include "includes/related-content.html" %}
      <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/who-answers-call.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/diverting-calls.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/reporting.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/scaling-up.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/scaling-down.html" %}
        </li>       
      </ul>

    </div>
</div>

{% endblock %}
