
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NESL Operating Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Advice and support available through the service</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Advice and support available through the service</h1>
      
      <p class="govuk-body">People in emergencies can call the service to speak to a trained adviser for advice and support, including:&nbsp;</p>

      <ul class="govuk-list govuk-list--bullet">
          <li>Emotional support</li>
          <li>Where to get supplies like food and clothing</li>
          <li>Information on specialist services like finance, housing and mental health</li>
          <li>Advice on getting any financial support available</li>
          <li>Advice on evacuating their home</li>
          <li>Planning their next steps</li>
      </ul>

    </div>
</div>

{% endblock %}
