
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NESL Operating Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Out-of-hours and scaling down the service</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Out-of-hours and scaling down the service</h3>

      <p class="govuk-body">Victim Support will take calls out-of-hours, for example when British Red Cross is unable to staff the service during this time or demand for the service is minimal.</p>

      <p class="govuk-body">Calls will be diverted back to Victim Support at an agreed time, upon assessing the on-going:

      <ul class="govuk-list govuk-list--bullet">
        <li>Number of people calling</li>
        <li>Types of support people call about</li>
        <li>Unmet needs</li>
      </ul>

      <p class="govuk-body">During this time, a process will be put in place to refer people where support is best given by British Red Cross or Samaritans.</p>

      {% include "includes/related-content.html" %}
      <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/emergency-starts/who-answers-call.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/emergency-starts/diverting-calls.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/emergency-starts/reporting.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/emergency-starts/scaling-up.html" %}
        </li>     
      </ul>

    </div>
</div>

{% endblock %}
