
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NESL Operating Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Scaling up the support line</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Scaling up the support line</h1>

      <p class="govuk-body">There will be times when service capacity will need to be increased, for example:</p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>The organisation taking calls doesn't have enough staff available to take the number of calls</li>
        <li>Another emergency starts</li>
        <li>A large proportion of calls are from people wanting to access funds or donate money</li>
      </ul>

      <p class="govuk-body">In these situations a <a href="/comms-and-decisions/decision-making">decision can be made</a> to divert calls between Victim Support and British Red Cross to share demand, using a dual option answering system.</p>

      {% include "includes/related-content.html" %}
      <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/emergency-starts/who-answers-call.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/emergency-starts/registering-personal-information.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/emergency-starts/diverting-calls.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/emergency-starts/reporting.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/emergency-starts/scaling-down.html" %}
        </li>       
      </ul>

    </div>
</div>

{% endblock %}
