
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NESL Operating Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/transfer-calls">Transfer callers</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Who to transfer</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Who to transfer</h1>

      <p class="govuk-body">When it is <a href="/when-to-promote">time to signpost people to the support line</a> this is the recommended criteria for transferring them:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Anyone who feels affected by the major emergency. For example, someone who witnessed a terrorist attack.
        </li>
        <li>
          People who would benefit from the <a href="/advice-support-available"> support and advice available</a> through the support line. For example, someone who had to evacuate their home due to a major flood. 
        </li>
      </ul>

      {% include "includes/related-content.html" %}
      <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/transfer-calls/what-to-say.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/when-to-promote.html" %}
        </li> 
        <li id="homepage-link-list">
          {% include "nav-links/transfer-calls/index.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/phone-number.html" %}
        </li>
      </ul>

    </div>


  </div>

{% endblock %}
