
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NESL operating manual
{% endblock %}

{% block content %}

{% include "includes/header.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">About the service</h1>

      <p class="govuk-body">National Emergencies Support Line is a free service for people access support in emergencies. The service is operated by <a href="https://www.victimsupport.org.uk/">Victim Support</a>, <a href="https://www.redcross.org.uk/">British Red Cross</a> and <a href="https://www.samaritans.org/">Samaritans</a>.</p>

      <div class="govuk-panel govuk-panel--confirmation" style="background-color: #00CFFF;">
        <div class="govuk-panel__body" style="color: #1C304A">
          Call the free helpline:<br><strong>{% include "includes/phone-number.html" %}</strong>
        </div>
        <br>
        <div class="govuk-panel__body" style="color: #1C304A">
          Available 24 hours a day,<br>every day of the year.
        </div>
      </div>

      <br>

      <h3 class="govuk-heading-m">Advice and support available through the service</h3>
      
      <p class="govuk-body">People in emergencies can speak to trained adviser for advice and support, including:&nbsp;</p>

      <ul class="govuk-list govuk-list--bullet">
          <li>Emotional support</li>
          <li>Where to get supplies like food and clothing</li>
          <li>Information on specialist services like finance, housing, mental health</li>
          <li>Advice on getting any financial support available</li>
          <li>Advice on evacuating their home</li>
          <li>Planning their next steps</li>
      </ul>

    </div>
</div>

{% endblock %}
