
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NESL Operating Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Before an emergency</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Before an emergency</h1>

      <h3 class="govuk-heading-m" id="service-available">Service availability</h3>

      <p class="govuk-body">The phone number automatically goes to Victim Support, who operate 24 hours a day, every day of the year.</p>

      <h3 class="govuk-heading-m" id="service-available">Decision making</h3>

      <p class="govuk-body">Key decisions about the service are made by:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Chief Executive, Victim Support</li>
        <li>Head of Crisis Response, British Red Cross</li>
      </ul>

      <p class="govuk-body">A select group of representatives from Victim Support, British Red Cross and Samaritans communicate using a National Emergencies Support Line WhatsApp group.</p>


    </div>
</div>

{% endblock %}
