
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NESL Operating Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Deciding to promote</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Deciding to promote the support line in a major emergency</h1>

      <p>The support line is available 24 hours a day, and calls will always be answered. Its designed for people affected by major emergencies, so it will only be actively promoted during these times. 

      <p>Examples of previous major emergencies include Manchester Arena attack and Grenfell tower fire.</p>

      <p>The decision of whether or not to promote the support line lies with Victim Support and British Red Cross. Other agencies can request for the support line to be promoted.</p>

      <p class="govuk-body">Decision to promote the support line will be judged by:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Scale of the emergency</li>
        <li>Anticipated, on-going and unmet need</li>
        <li>Number of calls recieved</li>
        <li>Level of demand on local agencies</li>
        <li>Whether other support line are open</li>
        <li>Media coverage</li>
      </ul>

      <p class="govuk-body">The decisions need to be made will be:</p>

      <ul class="govuk-list govuk-list--number">
        <li>Should the support line be promoted?</li>
        <li><a href="/who-answers-calls">Which organisation will answer the calls?</a></li>
        <li>How the support line should be promoted?</li>
        <li>When should the support line be promoted?</li>
        <li>When to scale down the support line?</li>
      </ul>

      <p class="govuk-body">Key decisions about the support line are made by:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Chief Executive, Victim Support</li>
        <li>Head of Crisis Response, British Red Cross</li>
      </ul>

      <p class="govuk-body">A select group of representatives from Victim Support, British Red Cross and Samaritans communicate using a National Emergencies Support Line WhatsApp group.</p>

      {% include "includes/related-content.html" %}
      <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/communicating-between-partners.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/working-with-net.html" %}
        </li>  
      </ul>

    </div>
</div>

{% endblock %}
