
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NESL Operating Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Diverting calls</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Diverting calls</h1>

      <p class="govuk-body">Content to be added following visit to Victim Support's call centre by an operations team from British Red Cross.</p>

      {% include "includes/related-content.html" %}
      <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/who-answers-call.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/registering-personal-information.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/reporting.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/scaling-up.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/scaling-down.html" %}
        </li>       
      </ul>

    </div>
</div>

{% endblock %}
