
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NESL Operating Manual
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">When an emergency starts</h1>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="#immediate-response">Immediate response</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="#decision-making">Decision making</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="#which-organisation">Which organisation takes calls</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="#diverting-calls">Diverting calls</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="#promoting-the-service">Promoting the service</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="#working-with-net">Working with National Emergencies Trust</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="#reporting">Reporting service use</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="#scaling-up">Scaling up the service</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="#scaling-down">Out-of-hours and scaling down the service</a>
        </li>       
      </ul>

      <h3 class="govuk-heading-m" id="immediate-response">Immediate response</h3>

      <p class="govuk-body">Phone calls will be taken immediately by Victim Support, who operate 24 hours a day, every day of the year.</p>

      <p>Teams from Victim Support, British Red Cross and Samaritans will communicate using the existing WhatsApp group</a>.</p>

      <h3 class="govuk-heading-m" id="decision-making">Decision making</h3>

      <p class="govuk-body">Key decisions that are made when an emergency starts:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Should the service be promoted?</li>
        <li>How the service should be promoted?</li>
        <li>When should the servide be promoted?</li>
        <li>Which organisation will answer the calls?</li>
        <li>When to scale down the service?</li>
      </ul>

      <p class="govuk-body">Decision will be informed by:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Scale of the emergency</li>
        <li>Anticipated and on-going need</li>
        <li>Media coverage</li>
        <li>Number of calls recieved</li>
      </ul>

      <h3 class="govuk-heading-m" id="which-organisation">Which organisation takes calls</h3>

      <p class="govuk-body">Who takes the call will depend on the type of emergency.</p>

      <h4 class="govuk-heading-s">Crime or suspected crime emergencies</h4>

      <p class="govuk-body">If the emergency is a crime or suspect Victim Support will continue to take calls from people. 

      <p class="govuk-body">Victim Support will signpost or warm transfer callers to British Red Cross and Samaritans as necessary.</p>

      <h4 class="govuk-heading-s">Non-crime emergencies</h4>

      <p>British Red Cross will takes call in non-crime emerencies. For examples natural diasters like flooding.</p>

      <p class="govuk-body">Victim Support will take calls in the first few hours. Then at a agreed time calls will be diverted to British Red Cross. This allows time for British Red Cross to put staff and equipment in place.</p>

      <p class="govuk-body">British Red Cross will signpost or warm transfer callers to Victim and Samaritans as necessary.</p>

      <h3 class="govuk-heading-m" id="diverting-calls">Diverting calls</h3>

      <p class="govuk-body">Content to be added following visit to Victim by operations team from British Red Cross.</p>

      <h3 class="govuk-heading-m" id="promoting-the-service">Promoting the service</h3>

      <p class="govuk-body">Content to be added following conversations between communications teams from Victim Support and British Red Cross. This is likely to include:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>What channels to promote the serivce through</li>
        <li>Templates for partners to consistently promote the service</li>
        <li>Internal communications</li>
      </ul>

      <h3 class="govuk-heading-m" id="working-with-net">Working with National Emergencies Trust</h3>

      <p class="govuk-body">Content to be added following conversations between <a href="https://nationalemergenciestrust.org.uk/">National Emergencies Trust</a> and British Red Cross. For example the process to refer people to access.</p>

      <h3 class="govuk-heading-m" id="reporting">Reporting service</h3>

      <p class="govuk-body">Reporting templates to be agreed between between Victim Support and British Red Cross. This is likely to include:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Number of people calling</li>
        <li>Types of support people call about</li>
        <li>Unmet needs</li>
        <li>Issues with the service</li>
      </ul>

      <h3 class="govuk-heading-m" id="scaling-up">Scaling up the service</h3>

      <p class="govuk-body">There will be times when service capacity will need to be increased, for example:</p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>The organisation taking calls doesn't have enough staff available to take the number of calls</li>
        <li>Another emergency starts</li>
        <li>A large proportion of calls are from people wanting to access funds or donate them</li>
      </ul>

      <p class="govuk-body">In these situations a decision can be made to divert calls between Victim Support and British Red Cross using a dual option answering system.</p>


      <h3 class="govuk-heading-m" id="scaling-down">Out-of-hours and scaling down the service</h3>

      <p class="govuk-body">Victim Support will take calls out-of-hours, for example when British Red Cross is unable to staff the service during this time or demand for the service is minimal.</p>

      <p class="govuk-body">Calls will be diverted back to Victim Support at an agree time, upon assessing the on-going:

      <ul class="govuk-list govuk-list--bullet">
        <li>Number of people calling</li>
        <li>Types of support people call about</li>
        <li>Unmet needs</li>
      </ul>

      <p class="govuk-body">During this time, a process will be put in place to refer people to support best given by British Red Cross or Samaritans. 

    </div>
</div>

{% endblock %}
