
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NESL operating manual
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl" style="color: #0b0c0c;">
          National Emergencies Support Line
        </span>
        {% include "includes/website-name.html" %}
      </h1>

      <p class="govuk-body govuk-!-font-size-24">Information about operating and working with the National Emergencies Support Line service.</p>

      <h2 class="govuk-heading-m">Contents</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/about">About the service</a></li>
        <li><a href="/before-emergency">Before an emergency</a></li>
        <li><a href="/emergency-starts">When an emergency starts</a></li>
      </ul>

      <h2 class="govuk-heading-m">Contact</h2>

      <p class="govuk-body">This operating manual is designed and maintained by the Crisis Response team at British Red Cross. 

      <p>The team can be contacted on <span class="govuk-!-font-weight-bold">crt@redcross.org.uk</span></p>

      <p>You can give feedback about the manual on its <a href="https://github.com/HarryTrimble/national-emergencies-support-line/issues">GitHub page</a>

    </div>
</div>

{% endblock %}
