
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NESL operating manual
{% endblock %}

{% block content %}

{% include "includes/header-index.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">Contents</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#">Set up the phone line</a></li>
        <li><a href="#">Transfer calls to the support line</a></li>
        <li><a href="#">Promote the support line</a></li>
        <li><a href="#">Training call handlers</a></li>
        <li><a href="#">Information for call handlers</a></li>
      </ul>
    </div>
</div>

{% endblock %}
