
{% extends "layout_homepage.html" %}

{% block pageTitle %}
  NESL Operating Manual
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--<p class="govuk-body govuk-!-font-size-24">Information to operate and work with the National Emergencies Support Line service.</p>-->

      <ul class="govuk-list govuk-!-font-size-24">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/about">About the service</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/before-emergency">Before an emergency</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/emergency-starts">When an emergency starts</a></li>
      </ul>

    </div>
</div>
 
{% endblock %}
