
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NESL Operating Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Reporting service use</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Reporting service use</h1>

      <p class="govuk-body">Reporting templates to be agreed between Victim Support and British Red Cross. This is likely to include:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Number of people calling</li>
        <li>Types of support people call about</li>
        <li>Unmet needs</li>
        <li>Issues with the support line</li>
      </ul>

      {% include "includes/related-content.html" %}
      <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/who-answers-call.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/personal-information/index.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/diverting-calls.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/scaling-up.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/scaling-down.html" %}
        </li>       
      </ul>

    </div>
</div>

{% endblock %}
