
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NESL Operating Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Service description</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">About the service</h1>

      <p class="govuk-body">National Emergencies Support Line is a free service for people to access support in emergencies. The service is operated by <a href="https://www.victimsupport.org.uk/">Victim Support</a>, <a href="https://www.redcross.org.uk/">British Red Cross</a> and <a href="https://www.samaritans.org/">Samaritans</a>.</p>

    </div>
</div>

{% endblock %}
