
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NESL Operating Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">What is the support line</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What is the support line</h1>

      <p class="govuk-body">National Emergencies Support Line is a free, 24 hour service for people to access support in emergencies. The support line is run by <a href="https://www.victimsupport.org.uk/">Victim Support</a>, <a href="https://www.redcross.org.uk/">British Red Cross</a> and <a href="https://www.samaritans.org/">Samaritans</a>.
      
      <p>The support line provides one single point of contact for the public when there is a serious incident or emergency.</p>
      
      <p>The number is free to call and will be promoted as soon as an emergency is declared.</p>
      
      <p>Those answering calls will deal directly with people's needs or swiftly signpost them to where to go for the support they need.</p>

      <h3 class="govuk-heading-m">A bit of history</h3>

      <p>In 2017 the emergencies sector responded to an unprecedented number of major emergencies. After the Manchester Arena Attack we noted that several voluntary organisations had run support lines offering independent advice and support. We realised this was confusing for people needing help, agreeing to work together to make it easier for people in emergencies to talk to someone and access what they need.</p>

      {% include "includes/related-content.html" %}
      <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/phone-number.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/advice-support-available.html" %}
        </li>
      </ul>

    </div>
</div>

{% endblock %}
