
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NESL Operating Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Who answers calls</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Who answers calls</h1>

       <p class="govuk-body">Calls will always be answered by a trained advisor from British Red Cross or Victim Support</p>
      
      <p class="govuk-body">Who takes the call will depend on the type of emergency.</p>

      <h3 class="govuk-heading-m">First few hours</h3>

      <p class="govuk-body">When an emergency starts, phone calls will be taken immediately by Victim Support, who operate 24 hours a day, every day of the year.</p>

      <h3 class="govuk-heading-m">Crime or suspected crime emergencies</h3>

      <p class="govuk-body">If the emergency is a crime or suspected crime Victim Support will continue to take calls from people.</p>

      <p class="govuk-body">Victim Support will signpost or warm transfer callers to British Red Cross and Samaritans as necessary.</p>

      <h3 class="govuk-heading-m">Non-crime emergencies</h3>

      <p>British Red Cross will takes calls in non-crime emergencies. For example natural disasters like flooding.</p>

      <p class="govuk-body">Victim Support will take calls in the first few hours. This allows time for British Red Cross to put staff and equipment in place. Then at an agreed time calls will be diverted to British Red Cross.</p>

      <p class="govuk-body">British Red Cross will signpost or warm transfer people to Victim Support and Samaritans as necessary.</p>

      {% include "includes/related-content.html" %}
      <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/diverting-calls.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/personal-information.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/reporting.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/scaling-up.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/scaling-down.html" %}
        </li>       
      </ul>

    </div>
</div>

{% endblock %}
